/* BODY */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    overflow-x: hidden;
}

/* MENU BUTTON */
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 26px;
    background: #111;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    left: -220px; /* hidden */
    top: 0;
    width: 220px;
    height: 100%;
    background: #111;
    padding-top: 60px;
    transition: left 0.4s ease;
}

.sidebar.active {
    left: 0;
}

.logo {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

/* REMOVE ALL BULLETS */
.nav-links,
.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

.nav-links li a:hover {
    background: #764ba2;
}

/* DROPDOWN */
.dropdown-menu {
    display: none;
    background: #222;
}

.dropdown-menu li a {
    padding-left: 40px;
    font-size: 14px;
}

.dropdown.active .dropdown-menu {
    display: block;
}

/* MAIN CONTENT */
.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    transition: margin-left 0.4s ease;
}

.container.shift {
    margin-left: 240px;
}

/* TITLE */
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #ffffff;
}

/* TEAM SECTION */
.team {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: #000000;
    width: 300px;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-12px);
}

.card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #764ba2;
}

#about {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    color: #ffffff;
}

footer {
    text-align: center;
    color: #fff;
    margin-top: 40px;
}
